<h1>会員一覧</h1>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">会員ID</th><th>
        <th scope="col">氏名</th><th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @customer.id %></td>
        <td><%= @customer.last_name, @customer.first_name %></td>
        <td><%= @customer.email %></td>
        <td><%= @customer.is_active %></td>
      </tr>
    </tbody>
  </table>
</div>