<div class="bg-light">注文履歴一覧</h1>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">購入日時</th>
        <th scope="col">購入者</th>
        <th scope="col">注文個数</th>
        <th scope="col">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |home| %>
      <tr>
        <td><%= Order.created_at %></td>
        <td><%= Order.name %></td>
        <td></td>
        <td><%= Order.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>