<h4>ジャンル検索</h4>
<div>
  <% @genre.each do |item| %>
    <div>
      <%= Genre.name %>
    </div>
  <% end %>
</div>
<h2>商品一覧</h2>

<div>
  <% @items.each do |item| %>
    <div>
      <%= link_to image_tag(item.get_image), item_show_path(item.id) %>
      <%= Item.name %>

    </div>
  <% end %>
</div>